@model IEnumerable<DTO.Order>
@{
    ViewData["Title"] = "Client Page";
}

<div class="container-fluid h-100">
    <header class="page-header">
        <h2>My page</h2>
    </header>
    <section class="page-section">
        <nav class="sidenav">
            <ul>
                <li><a asp-area="" asp-controller="Client" asp-action="Client">My site</a></li>
                <li><a asp-area="" asp-controller="Client" asp-action="BrowseRestaurants">Browse restaurants</a></li>
                <li><a asp-area="" asp-controller="Client" asp-action="Cart">Shopping cart</a></li>
            </ul>
        </nav>

        <article class="page">
            <h2>My orders</h2>
            @if (Model != null)
            {
                <div style="height: 200px; overflow: auto;">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Order Number
                                </th>
                                <th>
                                    Order Date
                                </th>
                                <th>
                                    Delivery date
                                </th>
                                <th>
                                    Total Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ScheduledDeliveryDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalPrice)
                                </td>
                                @if (DateTime.Now.AddHours(3) < item.ScheduledDeliveryDate)
                                {
                                    <td>
                                        @Html.ActionLink("Cancel", "CancelOrder", new { orderId = item.OrderId })
                                    </td>

                                }
                            </tr>
                            }
                    </table>
                </div>
                <div>
                    <br />
                    @Html.ActionLink("Back", "Client")
                </div>
            }
            else
            {
                <table class="table">
                    <tr>
                        <td colspan="5" align="center">
                            There are no active orders
                        </td>
                    </tr>
                </table>
                <div>
                    <br />
                    @Html.ActionLink("Back", "Client")
                </div>
            }
        </article>
    </section>
</div>
