@model IEnumerable<WebApp.ViewModels.OrderVM>
@{
    ViewData["Title"] = "Courier Page";
}

<div class="text-center">
    <h1 class="display-4">Courier</h1>

</div>
<article class="page">
    <h1>Order list</h1>
    <hr/>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StreetN*@<!--umber)
                </th>-->
                <th>
                    @Html.DisplayNameFor(model => model.ScheduledDeliveryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CashPayment)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
            <h3>You have no pending orders for delivery</h3>
            }
            else
            {
                @foreach (var item in Model)
                {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <!--<-->@*td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNumber)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledDeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashPayment)
            </td>
            <td>
                @Html.ActionLink("Delivered", "DeliverOrder", new { OrderId = item.OrderId }) |
            </td>
        </tr>
                }
            }

        </tbody>
    </table>



</article>
